@model FLEET.Models.FleetCustodian

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FleetCustodian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceNumber.Department)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPlate.Mileage)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName.Location)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName.Comment)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FleetCustodianId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
