@model FLEET.Models.FleetSize

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FleetSize</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FleetCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FleetCategory.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FleetSizeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
